@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

.signup-btn, .login-btn, .enter-btn {
    font-family: "Montserrat", sans-serif;
    color: white;
    border-radius: 30px;
    font-size: 25px;
    margin: 10px;
    padding: 8px;
    width: 220px; }

.signup-btn {
    background: #f12711;
    width: 70%;
    max-width: 250px; }

.login-btn, .enter-btn {
    background: #1D2671;
    width: 70%;
    max-width: 250px; }

.signup-btn:hover, .login-btn:hover, .enter-btn:hover {
    background-color: grey; }

#key-icon {
    transform: rotate(45deg);
    font-size: 40px; }

#roomkey {
    margin: auto;
    text-align: center;
    border-radius: 30px;
    background-color: #f12711;
    width: 80%;
    max-width: 300px;
    font-size: 14px;
    padding: 10px 25px; }

#random-word {
    margin-top: -10px;
    font-size: 40px; }

p {
    margin: 0px; }