@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

input[type="text"] {
    font-family: "Montserrat", sans-serif;
    color: white;
    border-radius: 30px;
    border: none;
    background-color: lightgrey;
    color: grey;
    padding: 8px;
    font-size: 25px; }

input[type="text"] {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    width: 70%;
    max-width: 250px; }
    
input[type="text"]:focus {
    outline: none; }