@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

.gif-component {
    background-size: cover;
    text-align: center; }
    .gif-component .gif-preview {
      object-fit: fill;
      max-height: 240px;
      max-width: 100%; }