@font-face {
    font-family: Squirk;
    src: url("./fonts/Squirk.otf");
  }

@font-face {
    font-family: Comic;
    src: url("./fonts/Comictastic.otf");
}
  
.game-title {
    font-family: Squirk;
    font-size: 130px;
    margin-top: 10%;
    text-shadow: -3px 0 black, 0 3px rgb(79, 1, 131), 3px 0  rgb(79, 1, 131), 0 -3px black;
    letter-spacing: 7px;
    color: rgba(252, 250, 250, 0.89);
    -ms-transform: skewY(-5deg); /* IE 9 */
    -webkit-transform: skewY(-5deg); /* Safari */
    transform: skewY(-5deg);
}

.gif {
    font-family: Comic;
    font-size: 150px;
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
    letter-spacing: 0px;
    color: rgba(252, 250, 250, 0.89);
}